html{
    background-color: rgb(115, 73, 135);
}

canvas{
    top: 0;
    left: 0;

    background-color: rgb(245, 242, 231);
    border: 3px solid rgb(47, 13, 67);
}

a{
    border: 5px solid rgb(137, 93, 158);
    margin: 5px;
    padding: 5px;
    background-color: rgb(179, 137, 198);
    color: rgb(35, 23, 40);
    text-decoration: blue;
}

ul{
    line-height: 30px;
}
li{
    display:inline;
}

/* css is based on hash map (key: value) pairs*/